.button3 {
  background-color: black;	
  border: none;
  color: ;
  padding: 400px 700px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: fixed;
  left: 0px;
  top:  0px;
  cursor: pointer;
}


.SPI {
  background-color: black;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  position: fixed;
  left: 60px  ;
  top: 20px;
   cursor: pointer;
}



.DM {
  background-color: black;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  position: fixed;
  left: 60px  ;
  top: 160px;
   cursor: pointer;
}

.MI {
  background-color: black;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 55px;
  position: fixed;
  left: 60px  ;
  top: 220px;
   cursor: pointer;
}


.LPI {
  background-color: black;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  position: fixed;
  left: 60px  ;
  top: 380px;
   cursor: pointer;
}


.RPI {
  background-color: black;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  position: fixed;
  left: 60px  ;
  top: 500px;
   cursor: pointer;
}


.button {
  background-color: black;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  position: fixed;
  left: 60px  ;
  top: 670px;
   cursor: pointer;
}

